<div id="category-layout">

  <div class="desktop-wrapper" style="background-color: black;">
    <h5 class="allthingstext">
      <a href="/" style="color: inherit;">All Things</a> 
    </h5>
    <div class="divider-desktop"></div>
  </div>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08">
      
      <section>
        
        <ul class="navbar-nav" style="font-family: Revans-medium;">

          <div class="mobile-wrapper">
            <h4 class="allthingstext-mobile">
              <a href="/" style="color: inherit;">All Things</a> 
            </h4>
          <div class="divider"></div>
          </div>
          <a href="/blog/allthingsgreat" class="allthingslink nav-item nav-link ml-2 ml-md-0 mr-2">Great</a>
          <a href="/blog/sports" class="nav-item nav-link ml-2 ml-md-0 mr-2">Sports</a>
          <a href="/blog/history" class="nav-item nav-link ml-2 ml-md-0 mr-2">History</a>
          <a href="/blog/entertainment" class="nav-item nav-link ml-2 ml-md-0 mr-2">Entertainment</a>
          <a href="/blog/gaming" class="nav-item nav-link ml-2 ml-md-0 mr-2">Gaming</a>
          <a href="/blog/outdoors" class="nav-item nav-link ml-2 ml-md-0 mr-2">Outdoors</a>
          <a href="/blog/investments" class="nav-item nav-link ml-2 ml-md-0 mr-2">Investment</a>   
        </ul>
    </section>
    </div>
</nav>
</div>