<div class="reference-box" style="display: flex; flex-direction:row;">
    <a href="https://www.themoviedb.org/" target="_blank"><img src="/images/tmdb_image.svg" alt="" style="height: 50px; width: 50px; margin-left: 20px;"></a>
</div>
<div id="screenplay-nav">
    <div class="horizontal-scroller">
        <div class="screenplay-container">
            <div class=" screenplay-box">
                <div class="poster-div">
                    <img class="poster-img" src="https://image.tmdb.org/t/p/original/49WJfeN0moxb9IPfGn8AIqMGskD.jpg" alt="">
                    <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="inside-circle" style="background-repeat: no-repeat; background-size: 50px 50px; background-color: rgba(0, 0, 0, 0.5);background-blend-mode: multiply; background-image: url('https://all-things-great.s3.amazonaws.com/38e0950a-f441-4c37-8360-b45da2f41360.jpg');">
                            7.5
                        </div>
                    </div>
                    
                </div>
                <div class="title-box">
                    Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
                </div>
            </div>
        </div>
    </div>
</div>
