<div id="screenplay-review-list-view" v-cloak>
  <%- partial('../../partials/screenplay-nav', {}) %>
  <div id="screenplay-review-list">
    <div id="flex-wrap-row">
        <div v-for="screenplay in screenplays">
            <a :href="'/review/screenplay/details/'+screenplay.id">
            <%- partial('../../partials/screenplay-review') %>
          </a>
        </div>
    </div>
    <div class='paginate-container'>
        <button v-if="screenplays!=undefined && isMore"class="btn btn-info"v-on:click="search()">Load More</button>
    </div>
    <div class='paginate-container'>
      <div v-if="!isMore && pageNum!=0" >
        No More Movies To Show
      </div>
    </div>
  </div>
</div>

<%- exposeLocalsToBrowser({keys: ['screenplays', 'pageNum', 'isMore', 'navScreenplays']}) %>
  

  
