<div id="profile-page">

    <%- exposeLocalsToBrowser({keys: ['user']}) %>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app" style="padding: 24px" v-cloak>

        <!-- ACCOUNT SETTINGS -->
        <div style="margin-bottom: 8px; padding: 16px;
            background-color: white">
            <div style="font-weight: bold">
                Account Settings
            </div>

            <div style="background-color: white; padding: 16px">

                <div class="form-item">
                    <div class='form-item-label'>
                        Email address:
                    </div>
                    <div style="font-size: 14px">
                        {{user.emailAddress}}
                    </div>
                </div>

                <div  class="form-item">
                    <div class='form-item-label'>
                        Username:
                    </div>
                    <input type="text" v-model="user.username"
                        class="fullname-input">
                </div>

                <div class="form-item">
                    <div class='form-item-label'>
                        Bio:
                    </div>
                    <div style="font-size: 14px">
                        <textarea v-model="user.bio"
                            style="font-size: 14px; padding: 8px; border-radius: 5px; 
                                width: 300px;
                                border: solid 1px rgb(206, 206, 206)">
                        </textarea>
                    </div>
                </div>

                <div class="form-item">
                    <div class='form-item-label'>
                        Avatar:
                    </div>
                    <div>
                        <img class="center-cropped" 
                            :src="user.profileImageUrl ? user.profileImageUrl : '/images/startup.png'">
                        <div style="margin-top: 12px">
                            <input type="file" v-on:change="handleAvatarChange">
                        </div>
                    </div>
                </div>

                <button v-on:click="handleSave" :disabled="isSaving"
                    v-bind:class="isSaving ? 'disabled-button save-button' : 'blue-button save-button'">
                    Save
                </button>

            </div>
        </div>
        <!-- Display Comments Here -->
    </div>

    

    <script>
        const user = window.SAILS_LOCALS.user
        // user.profileImageUrl = '/images/startup.png'
        const app = new Vue({
            el: "#app",
            data: {
                user: user,
                isSaving: false,
                avatarFile: null,
            },
            methods: {
                handleSave: async function() {
                    console.log(this.user.fullName)

                    const formData = new FormData()
                    formData.append('username', this.user.username)
                    formData.append('bio', this.user.bio)
                    formData.append('imagefile', this.avatarFile)
                    // fire off a blog request to update user
                    try {
                        await axios.post('/profile', formData)
                        location.reload()
                    } catch (err) {
                        console.error(err.toString())
                    }
                },
                handleAvatarChange: function(event) {
                    this.avatarFile = event.target.files[0]
                    this.user.profileImageUrl = window.URL.createObjectURL(this.avatarFile)
                }
            }
        })
    </script>
</div>