#view-blog {
    p {
        font-family: 'Revans-medium';
    }

    .author-image-box {
        height: 47px;
        width: 20%;
    }
    
    .author-namebox {
        height: 47px;
        width: 20%;
    }
    
    .share-box {
        width: 20%;
        height: 47px;
    }

    .score-box {
        width: 20%;
        height: 47px;
        a {
            text-decoration: underline;
            color: #0000EE;
        }
    }

    .timestamp-box {
        height: 47px;
        width: 20%;
        color: rgb(144, 144, 144);
    }

    .blog-title {
        font-size: 1.75em;
        font-weight: 700;
    }
    
    .profile-center-cropped {
        object-position: center; /*Center the image within the element*/
        object-fit: cover;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: solid 1px rgb(94, 94, 94);
        float: left;
    }
    
    .vote-box {
        margin-top: 8px;
    }
    
    .submit-box {
        display: block;
        justify-content: center;
        text-align: center;
        a {
            text-decoration: underline;
            color: #0000EE;
        }
    }
    
    .rate {
        float: left;
        height: 46px;
    }
    .rate:not(:checked) > input {
        display: none;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
    
    .center-cropped {
        object-position: center; /* Center the image within the element */
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        border: solid 1px rgb(94, 94, 94);
    }
    
    .checked {
        color: rgb(248, 211, 3);
        border-color: black;
        border-width: 1px;
    }
    
    .c-text {
        margin-top: 16px
    }
    
    iframe{
        max-width: 100%;
    }

    .twitter-tweet[style] {
        max-width: 100% !important;
        width: 100% !important;
    }

    .twitter-tweet[style] *{
        max-width: 100% !important;
        width: 100% !important;
    }

    img[style] {
        width: 100% !important;
        height: auto !important;
    }

    img {
        width: 100%;
        height: auto !important;
    }

    table[style] {
        width: 100% !important;
        height: auto !important;
    }

    iframe.instagram-media {
        height: 470px !important;
        max-width: 100% !important;
        width: 100% !important;
        min-width: auto !important;
    }

    @media (min-width: 0px) and (max-width: 279px){
        iframe[height] {
            height: 130px;
        }

        table[style] {
            font-size: .4rem;
        }

        .author-image-box {
            font-size: .4rem;
        }
        
        .author-namebox {
            font-size: .4rem;
        }
    
        .score-box {
            font-size: .4rem;
        }
    
        .timestamp-box {
            font-size: .4rem;
        }
    }

    @media (min-width: 279px) and (max-width: 345px){
        iframe[height] {
            height: 130px;
        }

        table[style] {
            font-size: .4rem;
        }

        .author-image-box {
            font-size: .4rem;
        }
        
        .author-namebox {
            font-size: .4rem;
        }
    
    
        .score-box {
            font-size: .4rem;
        }
    
        .timestamp-box {
            font-size: .4rem;
        }
    }

    @media (min-width: 345px) and (max-width: 460px){
        iframe[height] {
            height: 180px;
        }

        table[style] {
            font-size: .5rem;
        }

        .author-image-box {
            font-size: .5rem;
        }
        
        .author-namebox {
            font-size: .5rem;
        }
    
    
        .score-box {
            font-size: .5rem;
        }
    
        .timestamp-box {
            font-size: .5rem;
        }
    }

    @media (min-width: 460px) and (max-width: 576px) {
        iframe[height] {
            height: 220px;
        }

        .author-image-box {
            font-size: .55rem;
        }
        
        .author-namebox {
            font-size: .55rem;
        }
    
    
        .score-box {
            font-size: .55rem;
        }
    
        .timestamp-box {
            font-size: .55rem;
        }
    }

    @media (min-width: 576px) and (max-width: 882px) {

        .author-image-box {
            font-size: .6rem;
        }
        
        .author-namebox {
            font-size: .6rem;
        }
    
    
        .score-box {
            font-size: .6rem;
        }
    
        .timestamp-box {
            font-size: .6rem;
        }
        
    }

    @media (min-width: 882px) and (max-width: 1051px) {

        .author-image-box {
            font-size: .8rem;
        }
        
        .author-namebox {
            font-size: .8rem;
        }
    
        .score-box {
            font-size: .8rem;
        }
    
        .timestamp-box {
            font-size: .8rem;
        }

        
    }
}