@footer-height: 40px;
@container-md-max-width: 1100px;

[v-cloak] { display: none; }

@font-face {
  font-family: 'Reisenberg';
  src: url('/fonts/Reisenberg.otf') format('embedded-opentype') local('Reisenberg');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Revans-medium';
  src: url('/fonts/Revans-Medium.otf') format('embedded-opentype') local('Revans-Medium');
  font-weight: normal;
  font-style: normal;
  }

html, body {
  height: 100%;
  margin: 0;
}

#page-wrap {
  height: 100%;
  /* lesshint-disable */height: auto !important;/* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  padding-bottom: @footer-height;

  header {
    .logo {
      height: 20px;
      display: block;
    }
    a {
      cursor: pointer;
    }
    .dropdown-menu.account-menu {
      left: auto;
      right: 0px;
    }
    
  }
  .category-nav > a {
    float: left;
  }

  .category-nav {
    margin: 0 auto;
    text-align: center !important;
    align-content: center;
  }
}

#page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  .xs-only {
    display: none;
  }
}

body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}


@media (max-width: 800px) {
  #page-wrap {
    padding-bottom: 75px;
    #page-footer {
      height: 75px;
      .copy, .nav {
        width: 100%;
        display: block;
        text-align: center;
        .nav-item {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #page-wrap {
    padding-bottom: 85px;
    #page-footer {
      height: 85px;
      .xs-only {
        display: block;
      }
    }
  }
}

#category-layout {

  .divider {
     background-color: rgb(61, 61, 61);
     width: 97%;
     height: 2px;
     margin: 0 auto;
  }

  .divider-desktop {
    background-color: rgb(61, 61, 61);
    width: 10%;
    height: 2px;
    margin: 0 auto;
 }

  .allthingstext {
    background-color: black; 
    color:white; 
    text-align: center;
    font-family: 'Revans-medium';
    display: block;
    margin-bottom: 0px;
  }

  .allthingstext-mobile {
    background-color: rgb(0, 0, 0); 
    color:#ffffff; 
    text-align: left;
    font-family: 'Revans-medium';
    padding-top: 8px;
    padding-left: 8px;
  }

  .mobile-wrapper {
    display:none;
  }

  @media (max-width: 475px) {

    .desktop-wrapper {
      display: none;
    }

    .mobile-wrapper {
      display: block; 
    }
  }
}
