#screenplay-review-list {
    [v-cloak] { display:none; }
    
  :root {
    --deg: 0deg;
    --bg-color: #ba2200;
    --bg-gradient: '',
  }

  #screenplay-review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .paginate-container {
    text-align: center;
}
}
