#screenplay-review-list {
    [v-cloak] { display:none; }

    margin-top: 50px;

  #flex-wrap-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .paginate-container {
    text-align: center;
}
}
