<div id="app" v-cloak style="padding: 24px">
    <h1 class="main-header">Representing</h1>
    <p>
        The State of Montana and the raw, crude, degenerate activities that 
        take place here. Most of us are rooted college kids, either out of Montana 
        State University or University of Montana. We love our state and our people.
        We are bringing you the authentic, nitty-gritty, "get your piss hot" stories stretching
        from Cat nation to Griz nation and everything in between (or just outside). Everyone has a story 
        to tell and with each passing week a new story arises.
    </p>
    <p>
        We also extend outside our state, capturing any blog worthy story out there 
        that exists in the universe. Covering sports, history, outdoors, and entertainment just 
        to name a few. Our goal is to never let a good story be unheard.
    </p>
    <h4 class="h4-modify">This is All Things Great.</h3>
    <!-- <h5 class="blockquote-h">"We are the misfits, the blue-collar, the common man"</h5> -->
</div>

<%- exposeLocalsToBrowser({keys: ['writers']}) %>

<script>
    const App = new Vue({
        el: '#app',
        data: {
            writers: window.SAILS_LOCALS.writers,
        },
        methods: {
        },
        
    })
</script>

<style>

.main-header {
    text-align: center;
    margin: auto;
    width: 100%;
}

.blockquote-h {
    text-align: center;
    margin: 15px auto;
    width: 100%;
    font-style: italic;
}

p {
    width: 500px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.h4-modify {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 475px) {
    .main-header {
        width: 100%;
    }

    p {
        width: 100%;
        text-align: center;
    }


}
</style>
