<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="homepage" v-cloak>
    <div class="container-fluid d-flex flex-column justify-content-center" style="max-width: 620px;">
        <div v-for="blog in blogs" class="mt-5">
            <a :href="'/blog/view/' +blog.id">
                <%- partial('../partials/blog') %>
            </a>
        </div>
        <div v-if="isMore" style="margin: auto; text-align: center;">
            <button class="btn btn-info" v-on:click="paginate()">Load More</button>
        </div>
    </div>
</div>
<%- exposeLocalsToBrowser({keys: ['blogs', 'pageNum', 'moreBlogs', 'isMore']}) %>
